In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

In [2]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Chokurdakh,RU,2021-09-21 21:24:37,70.6333,147.9167,27.90,72,88,8.52
1,1,New Norfolk,AU,2021-09-21 21:24:37,-42.7826,147.0587,56.70,77,64,4.47
2,2,Atuona,PF,2021-09-21 21:24:37,-9.8000,-139.0333,78.01,71,20,22.26
3,3,Avarua,CK,2021-09-21 21:24:38,-21.2078,-159.7750,73.45,78,75,12.66
4,4,Leshukonskoye,RU,2021-09-21 21:24:38,64.8989,45.7622,32.63,93,20,2.28

In [4]:
len(city_data_df)

539

In [5]:
# Get the Data types (add dtypes to df)
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [6]:
# Get the maximum temperature. (For Loop Style)
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [7]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature. (Condensed)
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
# heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=5)
# heat_layer = gmaps.heatmap_layer(locations, weights=temps)
# heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], 
                                 dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:

# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
windspeed = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=windspeed, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:

# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [12]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Atuona,PF,2021-09-21 21:24:37,-9.8000,-139.0333,78.01,71,20,22.26
11,11,Ratnagiri,IN,2021-09-21 21:24:41,16.9833,73.3000,77.56,86,97,5.66
14,14,Butaritari,KI,2021-09-21 21:24:41,3.0707,172.7902,83.12,70,95,15.93
15,15,Caravelas,BR,2021-09-21 21:24:42,-17.7125,-39.2481,75.07,86,6,12.57
21,21,San Cristobal,VE,2021-09-21 21:20:42,7.7669,-72.2250,82.58,91,100,5.37
25,25,High Rock,BS,2021-09-21 21:24:45,26.6208,-78.2833,82.42,65,100,0.72
32,32,Itarema,BR,2021-09-21 21:24:47,-2.9248,-39.9167,78.49,78,17,17.18
35,35,Kapaa,US,2021-09-21 21:24:48,22.0752,-159.3190,82.72,70,1,4.00
41,41,Chisec,GT,2021-09-21 21:24:50,15.8167,-90.2833,88.57,55,60,3.67
42,42,Victoria,HK,2021-09-21 21:22:57,22.2855,114.1577,84.33,87,97,4.56

In [13]:
# Check for null values
preferred_cities_df.count()

City_ID       155
City          155
Country       155
Date          155
Lat           155
Lng           155
Max Temp      155
Humidity      155
Cloudiness    155
Wind Speed    155
dtype: int64

In [14]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
2          Atuona      PF     78.01  -9.8000 -139.0333
11      Ratnagiri      IN     77.56  16.9833   73.3000
14     Butaritari      KI     83.12   3.0707  172.7902
15      Caravelas      BR     75.07 -17.7125  -39.2481
21  San Cristobal      VE     82.58   7.7669  -72.2250
25      High Rock      BS     82.42  26.6208  -78.2833
32        Itarema      BR     78.49  -2.9248  -39.9167
35          Kapaa      US     82.72  22.0752 -159.3190
41         Chisec      GT     88.57  15.8167  -90.2833
42       Victoria      HK     84.33  22.2855  114.1577

In [15]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key}

In [16]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [17]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Atuona,PF,78.01,-9.8000,-139.0333,Villa Enata
11,Ratnagiri,IN,77.56,16.9833,73.3000,Hotel Landmark
14,Butaritari,KI,83.12,3.0707,172.7902,Isles Sunset Lodge
15,Caravelas,BR,75.07,-17.7125,-39.2481,Pousada dos Navegantes
21,San Cristobal,VE,82.58,7.7669,-72.2250,Posada Villaven C.A.
25,High Rock,BS,82.42,26.6208,-78.2833,Hideaway Bahamas Beach Club
32,Itarema,BR,78.49,-2.9248,-39.9167,"Sea Lounge! Bar, Club & Restaurant"
35,Kapaa,US,82.72,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
41,Chisec,GT,88.57,15.8167,-90.2833,Hotel Estancia De La Virgen
42,Victoria,HK,84.33,22.2855,114.1577,Mini Hotel Central

In [18]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

In [21]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [22]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))